* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  display: grid;
  gap: 30px;
}


.hero {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}


.hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}


.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


.card h3 {
  padding: 10px;
  font-size: 16px;
  line-height: 1.3;
}


.card span {
  padding: 0 10px 10px;
  font-size: 12px;
  color: gray;
}

.hero-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  max-width: 70%;
}

.badge {
  background: #1e90ff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}
